body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #33bc85;
}

.site-header .navbar-nav .nav-link {
  color: #eeeeee;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.calendar {
  background-color: #fafafa;
  width: 100%;
  color: #818182;
  border: #dddddd solid 1px;
}

.calendar .weekend {
  background-color: #eee;
}

.calendar th {
  border-bottom: #ddd solid 1px;
}

.calendar th, td {
  /*border: #333 solid 1px;*/
  text-align: center;
  width: 100px;
  position: relative;
}

.calendar .course {
  background: rgb(84, 230, 84);
  border: #444 solid 1px;
  color: #444
}

.calendar td .hover-day {
  visibility: hidden;
  background-color: #444;
  color: #eee;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  padding: 5px 0;
  

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.calendar td .hover-day::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
}


.calendar td:hover .hover-day {
  visibility: visible;
}