{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h2>Over ons</h2>
        <p>
            We zijn een klein bedrijf dat is opgericht in 2022 en focusen ons vooral op het bestrijden van ongedierte. 
        </p>
        <p>
            Het idee van een slimme muizenval schoot ons te binnen toen boer Herman, een goede vriend van ons zijn frustraties
            ontluchten over zijn ongedierte probleem. We dachten direct daar moeten wij iets aan doen! 
            
        </p>
        <p>
            We kwamen bij elkaar en zo kwam de slimme muizenval tot leven. Een muizenval die je van een afstand kunt monitoren.
            Maak gebruik van de dashboard om makkelijk al uw muizenvallen bij te houden. 
        </p>
        <p>
            Voor meer informatie neem contact met ons op.
        </p>
    </div>
</article>
{% endblock content %}