{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h2>Over ons</h2>
        <p>
        <h6>Wie zijn wij?</h6>
            Wij zijn een groep ICT studenten aan de Hanze Hogeschool die in samenwerking met 5Groningen een Slimme muizenval hebben ontwikkelt. 5Groningen is een programma waarin experts samen werken met ondernemers en non-profitorganisaties om toepassingen van 5G te testen. 
 
        </p>
        <p>
        <h6>Reden voor dit project?</h6>
        Op de boerderij wordt er steeds diervriendelijker gewerkt en wordt er steeds bewuster omgegaan met bestrijdingsmiddelen. 
        Daarnaast wordt de wetgeving ook steeds aangescherpt m.b.t. welke bestrijdingsmiddelen gebruikt mogen worden en in welke hoeveelheden (vanaf 2023 mag alleen bestreden worden als er aantoonbaar knaagdieren zijn). 
        Het bestrijden van ongedierte met gif wordt dus steeds lastiger qua wetgeving en diervriendelijkheid. 
        Toch moet de dieren (ratten en muizen) gevangen worden. 
            
        </p>
        <p>
        <h6>Benni</h6>
        Het idee was om een muizenval te creëren die zodra er iets gevangen wordt een bericht stuurt naar de eigenaar van een val. 
        In het bericht wordt de locatie van de val, en een foto meegestuurd van de inhoud. 
        Ook kunnen de muizenvallen gemonitord worden via een dashboard op onze site.
        </p>
        <p>
            Voor meer informatie neem contact met ons op.
        </p>
    </div>
</article>
{% endblock content %}