{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h2>Over ons</h2>
        <p>
            Wij staan voor educatie in Nederland! <i>IT Academy Nederland (ITAN)</i>
            <!-- Zo heet de opdrachtgever in opdracht schriftelijk vaardigheden -->
            geeft lessen aan verschillende mensen in heel Nederland, maar tot nu toe nooit aan ouderen.
        </p>
        <p>
            Daarom heeft ITAN in samenwerking met <i>Groningen-Drenthe Systems (GDS)</i> deze pagina ontwikkeld. Zodat
            ook ouderen zich online in kunnen schrijven voor cursussen; de mogelijkheid hebben
            in hun vrije tijd iets nieuws te leren.
        </p>
        <p>
            Omdat vele pensioenaten vroeger in BASIC, COBOL of Assembly op hun Commandore 64 programmeerden. Is ons doel
            om dit
            op te pakken en te en hier op voort te bouwen met moderne talen zoals Python, Java of JavaScript. Natuurlijk
            bieden wij ook
            verschillende cursussen voor beginners aan.
        </p>
        <p>
            U bent hartelijk welkom en wij hopen u in ons lessen te kunnen zien!<br>
            <a href="{{ url_for('register') }}">Klik hier</a>, om een profiel aan te maken en voor lessen in te
            schrijven.
        </p>
    </div>
</article>
{% endblock content %}