{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
	<div class="media-body">
		<h2><b>Dit zijn uw muizenvallen</b></h2>
		<p>
			Klik op de titel van een muizenval om de instellingen in te zien!
		</p>
	</div>
</article>
{% for trap in traps %}
<article class="media content-section">
	<div class="media-body">
		<h3><a class="article-title" href="#">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="{{ trap.status_color() }}"
					class="bi bi-circle-fill" viewBox="0 0 20 20">
					<circle cx="10" cy="10" r="10" />
				</svg>
				-
				{% if trap.name %}
				{{ trap.name }}
				{% else %}
				<code>[{{ trap.pretty_mac() }}]</code>
				{% endif %}
				<small>van {{ home.owner_class().name }}</small>
			</a>
		</h3>
		{% if trap.name %}
		<p>
			<code>[{{ trap.pretty_mac() }}]</code>
		</p>
		{% endif %}
		<p>
			onderhouden door <b>{{ home.catcher_class().name }}</b>
		</p>
		<p>
			<a class="article-title" href="#">
				{{ home.street }} {{ home.number }}<br>
				{{ home.zipcode }} {{ home.place }}
			</a>
		</p>
	</div>
</article>
{% endfor %}
{% endblock content %}