<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- Google Font: Source Sans Pro, Source Code Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

    <!-- leaflet maps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>

    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var current_user = {{ current_user.id if current_user.is_authenticated else none | tojson }};
//        socket.on('connect', function () { });
    </script>

    {% if title %}
    <title>muizenval.tk - {{ title }}</title>
    {% else %}
    <title>muizenval.tk</title>
    {% endif %}
</head>

<body>
    <nav class="navbar fixed-top bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="/static/logo.svg" alt="" width="50%" height="50%">
            </a>
            <ul class="nav nav-pills">
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Registeren</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container" style="padding-top:20px;">
        <div class="row">
            <!-- sidebar -->
            <div class="col-3">
                <ul class="nav nav-pills flex-column nav-justified">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('account') }}"><b>{{current_user.name}}</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('traps') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('trap_connect') }}">Koppel een val</a>
                    </li>
                    {% if current_user.contact %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact opnemen</a>
                    </li>
                    {% endif %}
                    {% if current_user.type.name == 'ADMIN' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin') }}">Gebruikers beheerden</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">Over ons</a>
                    </li>

                    <!--
                    <div class="dropdown">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="account-dropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <b>{{current_user.name}}</b>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="account-dropdown">
                                <a class="dropdown-item" href="{{ url_for('account') }}">Instellingen</a>
                                <a class="dropdown-item" href="{{ url_for('logout') }}">Uitloggen</a>
                            </div>
                        </li>
                    </div>-->
                </ul>
            </div>

            <!-- content-->
            <div class="col-7">
                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>

</html>