<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- Google Font: Source Sans Pro, Source Code Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

    <!-- leaflet maps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>

    <script type="text/javascript" charset="utf-8">
        {% if user_token %}
        var userToken = {{ user_token | tojson }};
        {% else %}
        var userToken = null;
        {% endif %}

        $('.dropdown-toggle').dropdown()

        $(document).ready(function () {
            $('li.active a').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li ').addClass('active');
        });
    </script>

    {% if title %}
    <title>muizenval.tk - {{ title }}</title>
    {% else %}
    <title>muizenval.tk</title>
    {% endif %}
</head>

<body>


    <div class="main-container d-flex">
        <div class="sidebar" id="side_nav">
            <div class="header-box px-2 pt-3 pb-4">
                <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">B</span> <span
                        class="text-white">BENNI</span></h1>

            </div>

            <ul class="list-unstyled px-2">
                <li class=""><a href="{{ url_for('index') }}" class="text-decoration-none px-3 py-2 d-block"><i
                            class="far fa-map-marker-question"></i>Home</a></li>
                <li class=""><a href="{{ url_for('about') }}" class="text-decoration-none px-3 py-2 d-block"><i
                            class="far fa-map-marker-question"></i>Over ons</a></li>

                {% if current_user.is_authenticated %}
                <li class=""><a href="{{ url_for('traps') }}" class="text-decoration-none px-3 py-2 d-block"><i
                            class="far fa-tachometer-alt"></i>Dashboard</a></li>
                <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i
                            class="far fa-plug"></i>Koppel een val</a></li>
                <li class=""><a href="{{ url_for('contact') }}" class="text-decoration-none px-3 py-2 d-block"><i
                            class="far fa-address-book"></i>Contact opnemen</a></li>
                {% endif %}
            </ul>
            <hr class="h-color mx-2">

            <ul class="list-unstyled px-2">
                {% if current_user.is_authenticated %}
                <li class=""><a href="{{ url_for('account') }}" class="text-decoration-none px-3 py-2 d-block"><i
                            class="far fa-cogs"></i>Instellingen</a></li>
                <li class=""><a href="{{ url_for('logout') }}" class="text-decoration-none px-3 py-2 d-block"><i
                            class="fas fa-sign-out"></i>Uitloggen</a></li>
                {% else %}
                <li class=""><a href="{{ url_for('login') }}" class="text-decoration-none px-3 py-2 d-block"><i
                            class="fas fa-sign-out"></i>Inloggen</a></li>
                <li class=""><a href="{{ url_for('register') }}" class="text-decoration-none px-3 py-2 d-block"><i
                            class="fas fa-sign-out"></i>Registeren</a></li>
                {% endif %}
            </ul>
            <hr class="h-color mx-2">

        </div>
        <!-- content-->
        <div class="col-7">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>


        <script> src = "https:://cdn.jsdelivr.net/npm/ootstrapp@5.0.2/dist/js/bootstrap.bundle.min.js"</script>
        <script> src = "https://ajax/googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"</script>


</body>

</html>