{% extends "layout.html" %}
{% block content %}
<div id="trap-container">
    <article class="media content-section">
        <div class="media-body">
            <h1 style="text-align:center;">Dashboard</h1>
            <div id="trap-map"></div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <h2 style="text-align:center;">activiteit in muizen per maand</h2>
            <div id="trap-chart"></div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <h2 style="text-align: center;">activiteiten logboek</h2>
            <div class="collapse" id="trap-collapse">
                <table id="trap-table" class="table"></table>
            </div>
            <hr>
            <div style="text-align: center;"><a data-toggle="collapse" href="#trap-collapse" role="button"
                    aria-expanded="false" aria-controls="trap-collapse">logboek openen/sluiten</a></div>
        </div>
    </article>
</div>
<template id="trap-template">
    <article class="media content-section">
        <div class="media-body">
            <h3><a class="article-title link">
                    <span class="status-icons"></span>
                    |
                    <span class="name"></span>
                </a>
            </h3>
            <p><i>
                    van <b><span class="owner"></span></b></span>
                </i></p>
            <p><b><span class="status"></span></b></p>
            <p><i class="fas fa-face-smile"></i> geregistreerd sinds <span class="owned-date"></p>
            <p><i class="fas fa-wave-square"></i> laaste update om <span class="last-status"></span></p>
            <p class="accuracy"><i class="fas fa-location"></i> nauwkeurigheid: <span class="accuracy"></span>%
                met <span class="satellites"></span> satelliet(en)</p>
            <p><i class="fas fa-temperature-half"></i> temperatuur: <span class="temperature"></span>&deg;C</p>
            <p class="battery"><i class="fas fa-battery-half"></i> batterij: <span class="battery"></span>%</p>

            <a class="btn btn-primary update" href="javascript:void(0)">bewerken</a>
            <a class="btn btn-secondary location" href="javascript:void(0)"><span class="location-button"></span></a>
            <a class="btn btn-danger delete" href="javascript:void(0)">verwijderen</a>
        </div>
    </article>
</template>
<script type="text/javascript" src="{{ url_for('static', filename='trap.js') }}"></script>
{% endblock content %}