{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <legend class="border-bottom mb-4">
    <h1>{{ legend }}</h1>
  </legend>
</article>
<article class="media content-section">
  <div class="media-body">
    <div>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('new_course') }}">Nieuwe les</a>
    </div>
  </div>
</article>
{% for course, teacher in courses %}
<article class="media content-section">
  <div class="media-body">
    <h2><a class="article-title" href="{{url_for('course', course_id=course.id)}}">{{course.name}} <small>by {{
          teacher.username }}</small></a></h2>
    <div>
      <a class="btn btn-secondary btn-sm mt-1 mb-1"
        href="{{ url_for('update_course', course_id = course.id) }}">Bewerken</a>
      <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
        data-target="#deleteModal">Verwijderen</button>
    </div>
  </div>
</article>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Les verwijderen?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
        <form action="{{ url_for('delete_course', course_id=course.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}